In [1]:
''' Script to add a date column to landsat8 dataset'''

' Script to add a date column to landsat8 dataset'

In [2]:
# import libraries
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
# import landsat8 data
data = pd.read_csv('landsat8_data.csv')
data.head(5)

,Unnamed: 0,filename,latitude,longitude,width,height
0,0,LC08_L1TP_040037_20180128_20180207_01_T1_NDVI_...,34.154865,-118.324757,512,512
1,0,LC08_L1TP_040037_20180128_20180207_01_T1_NDVI_...,34.085619,-118.323677,512,512
2,0,LC08_L1TP_040037_20180128_20180207_01_T1_NDVI_...,34.016373,-118.322601,512,512
3,0,LC08_L1TP_040037_20180128_20180207_01_T1_NDVI_...,33.947126,-118.321529,512,512
4,0,LC08_L1TP_040037_20180128_20180207_01_T1_NDVI_...,33.877878,-118.320460,512,512

In [15]:
# Add a date column to the existing data
data = data.assign(date=data.filename.map(lambda x: datetime.strptime(x.split("_")[3], '%Y%m%d').date()))

In [16]:
data.to_csv('landsat8_data_with_date.csv')